/* Globals */
body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #EEEEEE;
  margin-bottom: 5%;
}

h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

a {
  text-decoration: none;
}

img {
  width: 80%;
}

footer p {
  margin-top: 5%;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
}

/* Classes */
.container {
  width: 80%;
  margin: auto;
}
.dice {
  display: inline-block;
}
.player {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
.top {
  margin-bottom: 0;
}
.bottom {
  margin-top: 0;
  font-size: 1.3rem;
}

/* Media Queries */
@media (max-width: 375px) {
  h1 {
    margin-bottom: 20%;
  }
  h2 {
    font-size: 4rem;
  }
  img {
    width: 70%;
  }
  .container {
    width: 100%;
  }
  .top {
    margin-bottom: 5%;
  }
  footer p {
    margin-top: 15%;
  }
}
